body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130vh;
    gap: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    gap: 1rem;
    padding: 1rem;
}

.box {
    background-color: tomato;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tablette {
    display: none;
}

.desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mobile {
        display: none;
    }

    .tablette {
        display: inline-block;
    }
    
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .mobile {
        display: none;
    }

    .tablette {
        display: none;
    }
    
    .desktop {
        display: inline-block;
    }
}